<script type="text/javascript">
window.onload = function() { setTimeout("document.getElementById('todo_description').focus()",1); }
</script>



%form{:name => "todo", :method => "post", :id => "todo-form-new-action", :class => "inline-form", :action => "/todos" }

  .description
    %label{:for => "todo_description"}
      Description
    %br
    %input{:type => "text", :tabindex => "1", :size => "30", :name => "todo[description]", :maxlength => "100", :id => "todo_description"}

  .context
    %label{:for => "context_name"}
      Context
    %br
    %input{:type => "text", :tabindex => "1", :size => "30", :name => "context[name]", :maxlength => "100", :id => "context_name", :value => @first_context.name}

  %input{:id => "todo_new_action_submit", :class => "positive", :type => "submit", :value => "Add Action"}